.mindMapSection {
  min-width: 360px;
  max-width: 480px;
  background: #181818;

  padding-top: 60px;
}

.mindMapTitle {
  color: #fff;

  font-family: 'Right Grotesk';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 90.909% */
  text-transform: uppercase;

  text-align: center;
  margin: 0;
}

.swiperSlideContainer {
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 126px;
  margin: 24px auto 0;
}

.cardsOn768Width {
  display: none;
  width: 596px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .mindMapSection {
    max-width: 768px;
    padding-top: 80px;
  }
  .cardsOn768Width {
    display: grid;
    padding-top: 40px;
  }
  .swiperHide {
    display: none;
  }

  .mindMapTitle {
    font-size: 80px;
    line-height: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .mindMapSection {
    max-width: 1280px;
    padding-top: 120px;
  }

  .cardsOn768Width {
    width: 1032px;
    padding-top: 80px;
  }

  .mindMapTitle {
    font-size: 160px;
    line-height: 160px;
  }
}
