.soctialLinkContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 360px;
  height: 100%;
  background-color: #1e1e1e;
  overflow: hidden;
  margin: 0 auto;

  z-index: 999;
}

.headerLink {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #ffffff;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);

  /* margin-top: 8px; */
  margin-left: auto;
}

.headerLink:hover {
  color: #dc3b5a;
}
