.faqSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 360px;
  max-width: 480px;

  padding-top: 60px;

  background: #181818;
}

.faqTitle {
  color: #fff;
  font-family: 'Right Grotesk';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 90.909% */
  text-transform: uppercase;

  margin: 0 auto;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 0;
  margin: 24px 0 0;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .faqSectionContainer {
    max-width: 768px;
    padding-top: 80px;
  }

  .faqTitle {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .faqSectionContainer {
    padding-top: 120px;
    max-width: 1280px;
  }

  .faqTitle {
    font-size: 160px;
    line-height: 160px;
  }
}
