.heroSection {
  max-width: 464px;
  padding: 0 8px 0px;
  margin: 0 auto;
}

.heroSectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 344px;
  max-width: 464px;
  background: #dc3b5a;
  border-radius: 12px;
}

.heroTitle {
  color: #1e1e1e;
  font-family: 'Right Grotesk';
  font-size: 44px;
  line-height: 1;
  letter-spacing: 0.44px;

  margin: 0;
}

.headerTitleAboveText {
  display: inline-block;
  color: #1e1e1e;

  font-family: 'Biro Script Plus';
  font-size: 16px;

  font-weight: 600;
  line-height: 27px;

  margin-top: 36px;
}

.headerUnderText {
  color: #1e1e1e;

  text-align: right;
  font-family: 'Biro Script Plus';
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;

  margin-top: 8px;
}

.heroImg {
  width: 216px;
  height: 284px;
  flex-shrink: 0;

  margin-top: 6px;
}

.heroImgBG {
  /* position: absolute; */
  margin-top: 6px;

  width: 216px;
  height: 284px;
  background-image: url('../../img/Hero_Img_6s1.png');
  background-repeat: no-repeat;
}

.heroBtn {
  position: absolute;
  bottom: 73px;

  display: flex;
  width: 216px;
  padding: 10px 70px 12px 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);

  color: #1e1e1e;

  font-family: 'Right Grotesk';
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
}

.heroBtn:hover,
.heroBtn:focus {
  color: #fff;
}

.heroDescription {
  width: 217px;

  color: #1e1e1e;

  text-align: center;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  margin: 49px auto 19px;
}
.spaces {
  display: none;
}

@media screen and (min-width: 768px) {
  .heroSection {
    max-width: 768px;
    padding: 0 16px 0px;
  }

  .heroSectionContainer {
    max-width: 732px;
    height: 421px;
    display: block;

    border-radius: 16px;
  }

  .headerTitleAboveText {
    font-size: 20px;
    margin-top: 124px;
    margin-left: 72px;
  }

  .heroImgBG {
    position: absolute;
    width: 283px;
    height: 386px;

    margin: 0;

    background-image: url('../../img/Hero_Img_6s1_tablet.png');

    transform: translate(-50%, 0%);
    top: 35px;
    left: 50%;
  }

  .heroTitle {
    font-size: 92px;

    line-height: 92px;
    letter-spacing: 0.92px;

    text-align-last: justify;
    margin: 0 72px;
  }

  .headerUnderText {
    margin-top: 16px;
    margin-left: 72px;

    font-size: 20px;
    line-height: 33px;
  }

  .heroBtn {
    bottom: 35px;
    right: 72px;

    width: 190px;

    padding: 10px 58px 12px 58px;
    border-radius: 12px;
  }

  .heroDescription {
    position: absolute;

    bottom: 92px;
    right: 72px;
    margin: 0;
    width: 190px;
    text-align: justify;
  }

  .spaces {
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .heroSection {
    max-width: 1280px;
  }

  .heroSectionContainer {
    max-width: 1248px;

    margin: 0 autopx;
    height: 677px;
  }

  .heroTitle {
    font-size: 164px;
    line-height: 164px;

    text-align-last: justify;
    margin: 0 115px;
  }

  .headerTitleAboveText {
    font-size: 24px;
    margin-top: 182px;
    margin-left: 120px;
  }

  .headerUnderText {
    margin-top: 36px;
    margin-left: 296px;

    font-size: 24px;
    line-height: 33px;
  }

  .heroImgBG {
    position: absolute;
    width: 463px;
    height: 612px;
    margin: 0;

    background-image: url('../../img/Hero_Img_6s1_desctop1280.png');

    transform: translate(-50%, 0%);

    top: 65px;
    left: 50%;
  }
  .heroBtn {
    width: 337px;
    height: 70px;

    bottom: 80px;
    right: 112px;

    font-size: 28px;
    line-height: 34px;
  }

  .heroDescription {
    width: 337px;
    font-size: 16px;
    line-height: 19px;
    bottom: 179px;
    right: 112px;
  }
}
