.faqCardItem {
  width: 200px;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 12px;

  padding: 8px 8px 10px 8px;
}

.faqCardItemActive {
  position: relative;
  width: 200px;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 12px;
  background: #1e1e1e;
  padding: 8px 8px 10px 8px;
}

.faqCardThumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;

  margin-top: 8px;
}

.faqCardTitle {
  width: 168px;

  color: #fff;
  font-family: 'Right Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px; /* 100% */
  text-transform: uppercase;

  margin: 0;

  cursor: pointer;
}

.faqCardItemActiveTitle {
  color: #dc3b5a;
}

.faqCardItem:hover .faqCardTitle {
  color: #dc3b5a;
}

.faqCardNumber {
  color: #dc3b5a;
  font-family: 'Biro Script Plus';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.faqCardItemActiveNumber {
  color: #fff;
}

.faqCardItem:hover .faqCardNumber {
  color: #fff;
}

.faqCardDiscription {
  width: 169px;

  color: #fff;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;

  margin-left: auto;
}

.imgThumb {
  display: none;
}

.faqCardImg {
  display: none;
}

@media (min-width: 768px) {
  .faqCardImg {
    display: block;
    width: 148px;
    height: 183px;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 16px;
  }
  .imgThumb {
    position: absolute;
    top: 0;
    display: block;
    transform: rotate(-16deg);
    border-radius: 16px;
  }

  .faqCardItem {
    width: 592px;
    padding: 18px 16px 24px;
  }

  .faqCardItemActive {
    width: 592px;
    padding: 18px 16px 24px;
    background: #1e1e1e;
  }
  .faqCardThumb {
    gap: 21px;
  }

  .faqCardTitle {
    width: 339px;
    font-size: 32px;
    line-height: 32px;
  }

  .faqCardDiscription {
    width: 339px;
    margin: 12px 0px 0px auto;
  }

  .faqCardNumber {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (min-width: 1280px) {
  .faqCardImg {
    width: 248px;
    height: 281.999px;
    border-radius: 24px;
  }

  .imgThumb {
    position: absolute;
    transform: rotate(-8deg);

    top: 0;
    display: block;
  }

  .faqCardItem {
    width: 1032px;
    height: fit-content;

    padding: 18px 16px 23px;
  }

  .faqCardItemActive {
    width: 1032px;
    height: 250px;
    padding: 18px 16px 23px;
    border-radius: 24px;
    background: #1e1e1e;
  }
  .faqCardThumb {
    gap: 27px;
  }

  .faqCardTitle {
    width: 635px;
    font-size: 64px;
    line-height: 64px;
  }

  .faqCardDiscription {
    width: 635px;
    font-size: 16px;
    line-height: 19px;
  }

  .faqCardNumber {
    font-size: 24px;
    line-height: 40px;
  }
}
