.collectionSection {
  min-width: 360px;
  max-width: 480px;
  background: #181818;

  padding-top: 80px;
}

.collectionTitle {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: 'Right Grotesk';
  font-size: 44px;
  line-height: 40px;
  text-transform: uppercase;

  text-align: center;
  margin: 0;
}

.swiperArts {
  margin-top: 24px;
}

.swiperSlideContainer {
  margin: 0 auto;
  width: 500px;
  background-color: aqua;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 126px;
  margin: 24px auto 0;
}

@media screen and (min-width: 768px) {
  .collectionSection {
    max-width: 768px;
  }

  .collectionTitle {
    font-size: 80px;
    line-height: 80px;
  }
  .swiperArts {
    border-radius: 12px;
    margin-top: 32px;
    width: 616px;
  }
}

@media screen and (min-width: 1280px) {
  .collectionSection {
    max-width: 1280px;
  }

  .collectionTitle {
    font-size: 160px;
    line-height: 160px;
  }

  .swiperArts {
    margin-top: 80px;
  }

  .swiperArts {
    width: 960px;
  }
}
