.aboutSection {
  display: flex;

  position: relative;
  flex-direction: column;
  align-items: center;

  min-width: 344px;
  max-width: 464px;
  background: #181818;

  padding-top: 60px;
  padding: 60px 0px 0px 8px;
}

.aboutTitle,
.aboutTitleDesctop {
  width: 216px;

  color: #fff;

  font-family: 'Right Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 100% */
  text-transform: uppercase;

  margin: 0px;
}

.aboutTitleOneSimple {
  color: #dc3b5a;
  font-family: 'Right Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
}

.aboutDiscription,
.aboutDiscriptionDesctop {
  width: 216px;

  color: #fff;

  text-align: right;
  font-family: 'Messina Sans Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  text-transform: uppercase;

  margin: 16px 0 0 0;
}

.aboutCros {
  margin-top: 36px;
}

.aboutNote {
  width: 216px;

  color: #fff;

  text-align: center;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;

  margin-top: 16px;
}

.aboutImg {
  margin: 40px 0 0 0;
  width: 216px;
  height: 292px;
  background-image: url('../../img/AboutImg.png');
  background-repeat: no-repeat;
}

.aboutTitleDesctop {
  display: none;
}

.aboutDiscriptionDesctop {
  display: none;
}
.aboutTabletThumb {
  display: none;
}

.aboutNoteThumb {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.aboutCrosTablet {
  display: none;
  margin-top: 36px;
}

.aboutNoteTablet {
  display: none;
  width: 216px;
  color: #fff;
  text-align: center;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;

  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .aboutSection {
    display: flex;
    padding-top: 80px;
    max-width: 768px;
    margin: 0 auto;
  }

  .aboutTabletThumb {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .aboutTitleDesctop {
    width: 290px;
    display: block;
    font-size: 60px;
    line-height: 60px;
  }

  .aboutTitleOneSimpleTable {
    display: block;
    color: #dc3b5a;
    font-family: 'Right Grotesk';
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
  }
  .aboutTitle {
    display: none;
  }

  .aboutDiscriptionDesctop {
    width: 275px;
    display: inline-block;
    color: #fff;
    text-align: right;
    font-family: 'Messina Sans Mono';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
  }
  .aboutDiscription {
    display: none;
  }

  .aboutCros {
    display: none;
  }

  .aboutNote {
    display: none;
  }
  .aboutImg {
    position: absolute;
    bottom: 0px;
    right: 88px;
    width: 313px;
    height: 422px;
    flex-shrink: 0;
    background-image: url('../../img/AboutImgTablet.png');
  }

  .aboutCrosTablet {
    display: inline-block;
    margin-top: 68px;
  }

  .aboutNoteTablet {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    width: 269px;
    margin: 24px 0 36px 0;
  }
}

@media screen and (min-width: 1280px) {
  .aboutSection {
    max-width: 1280px;
  }

  .aboutTitleDesctop,
  .aboutTitleOneSimpleTable {
    width: 579px;
    font-size: 120px;
    line-height: 120px;
  }

  .aboutDiscriptionDesctop {
    width: 409px;
    font-size: 24px;
    line-height: 29px;
  }
  .aboutCrosTablet {
    width: 36px;
    height: 36px;
  }

  .aboutNoteTablet {
    font-size: 24px;
    line-height: 29px;
    width: 417px;
  }

  .aboutImg {
    width: 492px;
    height: 662px;

    background-image: url('../../img/AboutImgDesctop.png');
  }
}
