.successRegisterContainer {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 150px;
  margin: 0 auto;
}

.successRegisterTitle {
  width: 236px;
  color: #fff;
  font-family: 'Right Grotesk';
  font-size: 30px;

  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .successRegisterContainer {
    width: 530px;
    align-items: center;
  }
  .successRegisterTitle {
    width: 560px;
    font-size: 64px;
    line-height: 64px;
  }
}
