.successRegisterContainer {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 150px;
  margin: 0 auto;
}

.successRegisterTitle {
  width: 236px;
  color: #fff;
  font-family: 'Right Grotesk';
  font-size: 30px;

  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
