.header {
  position: fixed;
  /* width: 344px; */

  width: 100%;
  padding: 8px 0 8px 0;
  z-index: 2;
}

.navFixed {
  position: relative;
  /* position: fixed; */
  max-width: 480px;
}

.mobileMenuContainer {
  position: absolute;
  right: 16px;
  top: 56px;
}

.headerLogo {
  display: inline-block;
  fill: #1e1e1e;

  width: 48px;
  height: 32px;
  flex-shrink: 0;

  margin-left: 16px;
  margin-top: 8px;

  opacity: 1;
  transition: opacity 0.25s ease;
}
.hideLogo {
  pointer-events: none;
  opacity: 0;
}

.headerLogo :hover {
  fill: #f0f0f0;
}

.headerLink {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #1e1e1e;

  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);

  margin-top: 8px;
  margin-left: auto;

  transition: background 0.25s ease, color 0.25s ease;
}

.headerLink:hover {
  color: #f0f0f0;
}

.headerLinkChangeColor {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.headerLinkChangeColor:hover {
  color: #dc3b5a;
}

.menuItem {
  position: absolute;
  right: 16px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  color: #1e1e1e;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-weight: 600;
  line-height: 14px; /* 116.667% */

  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);

  cursor: pointer;
  transition: color 0.25s ease;
  z-index: 3;
}

.menuItem:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.chengeMenuItemColor {
  color: #f0f0f0;
  background: rgba(255, 255, 255, 0.1);
}

.chengeMenuItemColor:hover {
  color: #dc3b5a;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .burgerMenuList {
    display: none;
  }
  .header {
    max-width: 480px;

    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;

    z-index: 2;
  }

  .navFixed {
    max-width: 768px;
  }

  .headerLogo {
    margin-left: 32px;
    margin-top: 32px;
  }
  .menuItem {
    right: 32px;
  }

  .mobileMenuContainer {
    right: 32px;
  }

  .headerLink {
    width: 24px;
    height: 24px;
    padding: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
  .navFixed {
    max-width: 1280px;
  }

  .headerLink {
    width: 24px;
    height: 24px;
    padding: 28px;
    border-radius: 12px;
  }

  .headerLink:not(:first-child) {
    margin-top: 16px;
  }

  .mobileMenuContainer {
    right: 32px;
    top: 96px;
  }

  .menuItem {
    width: 80px;
    height: 80px;

    font-size: 16px;
    line-height: 19px;

    border-radius: 12px;
  }
}
