.apeImgContainer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.apeImg {
  width: 216px;
  height: 256px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #d9d9d9;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .apeImg {
    height: 336px;
    width: 284px;
  }
}

@media screen and (min-width: 1280px) {
  .apeImg {
    width: 216px;
    height: 256px;
  }
}
