.burgerMenuList {
  display: none;
}

@media screen and (min-width: 768px) {
  .burgerMenuList {
    position: absolute;
    right: 32px;
    top: 16px;
    width: fit-content;
    margin-left: auto;

    display: flex;
    border-radius: 8px;
    background: rgba(30, 30, 30, 0.1);
    backdrop-filter: blur(6px);

    z-index: 5;

    transition: background 0.25s ease;
  }

  .chengeMenuListColor {
    background: rgba(255, 255, 255, 0.1);
  }

  .firstMenuItem {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 12px 0px 0px 12px;
    color: #1e1e1e;

    transition: color 0.25s ease;
  }

  .firstMenuItem {
    color: #fff;
  }

  .menuItem {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    color: #1e1e1e;
    font-family: 'Messina Sans Mono';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 116.667% */

    cursor: pointer;
    transition: color 0.25s ease;
  }

  .menuItem:hover {
    color: #f0f0f0;
    text-decoration: underline;
  }

  .chengeMenuItemColor {
    color: #f0f0f0;
  }

  .chengeMenuItemColor:hover {
    color: #dc3b5a;
  }
}

@media screen and (min-width: 1280px) {
  .burgerMenuList {
    position: absolute;
    right: 32px;
    top: 16px;

    border-radius: 12px;
  }

  .firstMenuItem {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;

    font-size: 16px;
    line-height: 19px;
  }

  .menuItem {
    display: flex;
    width: 80px;
    height: 80px;

    font-size: 16px;
    line-height: 19px;
  }
}
