.mindMapCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 216px;
  height: 196px;
  padding: 24px 12px;

  margin: 24px auto 0;
  padding: 24px auto;

  border-radius: 12px;
  background: #1e1e1e;
}

.mindMapCardDescription {
  width: 192px;

  color: #fff;
  font-family: 'Messina Sans Mono';
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  margin: 0;
}

.mindMapCardBtn {
  width: 192px;

  color: #fff;
  font-family: 'Right Grotesk';
  font-size: 32px;
  text-transform: uppercase;
  text-align: left;

  margin: 78px 0 0;
}

@media screen and (min-width: 768px) {
  .mindMapCardContainer {
    width: 236px;

    padding: 24px;
    margin: 0;
  }

  .mindMapCardDescription {
    width: 128px;

    margin-left: auto;
  }
  .mindMapCardBtn {
    width: 236px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .mindMapCardContainer {
    width: 456px;
    height: 480px;

    padding: 24px;
    margin: 0;
  }

  .mindMapCardDescription {
    width: 228px;
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
  }

  .mindMapCardBtn {
    width: 236px;
    margin: 0;

    font-size: 64px;
    line-height: 64px;
  }
}
